APP_NAME=Smart Media Extractor API
DEBUG=false
REQUEST_TIMEOUT_SECONDS=20
TIKTOK_API_BASE=https://www.tikwm.com/api/
COOKIES_DIR=cookies
DEFAULT_COOKIE_FILE=
YOUTUBE_COOKIE_FILE=
INSTAGRAM_COOKIE_FILE=
TIKTOK_COOKIE_FILE=
INSTAGRAM_SESSIONFILE=
HTTP_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/135.0.0.0 Safari/537.36
